/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

.container {
  padding: 20px; /* Adjusted padding */
  width: 30%; /* Desktop width */
  max-width: 400px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
}

.qr-code {
  width: 100%;
  max-width: 350px; /* Adjusted max-width for desktop */
  height: auto;
  border-radius: 8px;
}

h1 {
  margin-top: 20px; /* Adjusted margin */
  font-size: 1.5rem; /* Slightly larger for readability */
}

p {
  margin-top: 15px;
  font-size: 1rem; /* Unified units to rem */
  color: hsl(220, 15%, 55%);
}

/* Mobile Styles */
@media (max-width: 375px) {
  .container {
    width: 90%;
    padding: 15px;
    max-width: 300px;
  }

  .qr-code {
    max-width: none;
  }

  h1 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem; /* Adjusted font size for readability */
  }
}
